<div class="main-wrapper">
  <div class="like-index-container">
    <div class="container">
      <h2>人気記事ランキング</h2>
      <div class="container2">
        <div class="item-list">
          <ul>
            <li>今日</li>
            <li>週間</li>
            <li>月間</li>
          </ul>
        </div>
        <% @posts_rank.each do |post| %>
          <div class="post-container">
            <%= link_to("/users/#{post.user.id}") do %>
              <div class="post-container-image">
                <%= image_tag post.user.image.to_s %>
              </div>
            <% end %>
            <div class="post-container-body">
              <div class="post-content">
                <h3><%= link_to(post.title, "/posts/#{post.id}")  %></h3>
                <span>@<%= link_to(post.user.name, "/users/#{post.user.id}") %></span>
              </div>
              <div class="post-data">
                <span class="fas fa-heart"><%= post.likes_count %></span>
                <span class="">カテゴリー：<%= link_to(post.game.name, "/games/#{post.game.name}") %></span>
                <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
