<div class="main-wrapper">
  <div class="user-show-container">
    <div class="user-show-left">
      <%= image_tag @user.image.url %>
      <h3><%= @user.name %></h3>
      <div class="user-show-menu">
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "編集", edit_user_registration_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% end %>
        <% if user_signed_in? && current_user.id != @user.id %>
          <% if @followed_flag %>
            <%= link_to "フォロー中", "/follower/#{@user.id}/destroy", {method: "delete", class: "unfollow", id: "unfollow"} %>
          <% else %>
            <%= link_to "フォローする", "/follower/#{@user.id}/create", {method: "post", class: "follow", id: "follow"} %>
          <% end %>
        <% end %>
      </div>
      <div class="follower-container">
        <h2>フォロー</h2>
          <% @user_follows.each do |follow| %>
            <%= link_to "/users/#{follow.id}" do %>
              <%= image_tag follow.image.url(:thumb) %>
            <% end %>
          <% end %>
        <h2>フォロワー</h2>
        <% @user_followers.each do |follower| %>
          <%= link_to "/users/#{follower.user.id}" do %>
            <%= image_tag follower.user.image.url(:thumb) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-show-main">
      <h2>このユーザーの投稿記事</h2>
      <div class="container2">
        <div class="item-list">
        </div>
        <% @posts.each do |post| %>
          <div class="post-container">
            <%= link_to("/users/#{post.user.id}") do %>
              <div class="post-container-image">
                <%= image_tag post.user.image.to_s %>
              </div>
            <% end %>
            <div class="post-container-body">
              <div class="post-content">
                <h3><%= link_to(post.title, "/posts/#{post.id}")  %></h3>
                <span>@<%= link_to(post.user.name, "/users/#{post.user.id}") %></span>
              </div>
              <div class="post-data">
                <span class="fas fa-heart"><%= post.likes.count %></span>
                <span class="">カテゴリー：<%= link_to(post.game.name, "/games/#{post.game.name}") %></span>
                <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>
