<div class="main-container">
  <div class="user-show-container">
    <%= image_tag("/user_image/#{@user.image_name}") %>
    <h3><%= @user.name %></h3>
    <div class="user-show-menu">
      <% if @current_user.id == @user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      <% end %>
    </div>
  </div>
  <div class="container">
    <h2>このユーザーの投稿記事</h2>
    <div class="container2">
      <div class="item-list">
      </div>
      <% @user.posts.each do |post| %>
        <%= link_to("/posts/#{post.id}") do %>
          <div class="post-container">
            <%= image_tag("/user_image/#{post.user.image_name}") %>
            <div class="post-container2">
              <h3><%= post.title %></h3>
              <span>@<%= post.user.name %></span>
              <div class="post-data">
                <span class="post-like">いいね！</span>
                <span class="">カテゴリー：<%= post.game.name %></span>
                <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
