<div class="main-wrapper">
  <div class="game-header">
    <div class="game-header-container" style="background: linear-gradient(rgba(255, 255, 255, 0), black), url(<%= @game.game_image.background_image.to_s %>) center center/ cover;">
      <%= image_tag @game.game_image.icon_image.to_s %>
      <h1><%= @game.name %></h1>
      <span>投稿数：<%= @game.posts.count %></span>
    </div>
    <div class="game-header-item-list">
    </div>
  </div>
  <div class="game-show-container">
    <div class="main-container">
      <div class="container">
        <h2><%= @game.name %>の人気記事</h2>
        <div class="container2">
          <div class="item-list">
            <ul>
              <li>今日</li>
              <li>週間</li>
              <li>月間</li>
            </ul>
          </div>
          <% @posts_rank.each do |post| %>
            <div class="post-container">
              <%= link_to("/users/#{post.user.id}") do %>
                <div class="post-container-image">
                  <%= image_tag post.user.image.to_s %>
                </div>
              <% end %>
              <div class="post-container-body">
                <div class="post-content">
                  <h3><%= link_to(post.title, "/posts/#{post.id}")  %></h3>
                  <span>@<%= link_to(post.user.name, "/users/#{post.user.id}") %></span>
                </div>
                <div class="post-data">
                  <span class="fas fa-heart"><%= post.likes.count %></span>
                  <span class="">カテゴリー：<%= link_to(post.game.name, "/games/#{post.game.name}") %></span>
                  <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <h2><%= @game.name %>の新着記事</h2>
        <div class="container2">
          <div class="item-list">
          </div>
          <% @posts.each do |post| %>
            <div class="post-container">
              <%= link_to("/users/#{post.user.id}") do %>
                <div class="post-container-image">
                  <%= image_tag post.user.image.to_s %>
                </div>
              <% end %>
              <div class="post-container-body">
                <div class="post-content">
                  <h3><%= link_to(post.title, "/posts/#{post.id}")  %></h3>
                  <span>@<%= link_to(post.user.name, "/users/#{post.user.id}") %></span>
                </div>
                <div class="post-data">
                  <span class="fas fa-heart"><%= post.likes.count %></span>
                  <span class="">カテゴリー：<%= link_to(post.game.name, "/games/#{post.game.name}") %></span>
                  <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @posts %>
      </div>
    </div>
    <div class="right-sidebar">
      <div class="sidebar-container">
        <h2><%= @game.name %>の人気配信</h2>
        <div class="sidebar-container2">
          <div class="item-list">
          </div>
          <% @twitch_streams.each do |stream| %>
            <% user = TwitchApi.get_user_with_cache(stream["user_id"]) %>
            <%= link_to("https://www.twitch.tv/#{user[0]["login"]}") do %>
              <div class="stream-container">
                <div class="stream-container-image">
                  <%= image_tag user[0]["profile_image_url"] %>
                </div>
                <div class="stream-container-content">
                  <h3><%= stream["title"].truncate(20) %></h3>
                  <div class="stream-data">
                    <span class="fas fa-user"><%= stream["viewer_count"] %></span>
                    <span class="left">@<%= stream["user_name"] %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
