<div class="main-wrapper">
  <div class="game-show-container">
    <div class="main-container">
      <div class="container">
        <h2><%= @game.name %>の人気記事</h2>
        <div class="container2">
          <div class="item-list">
            <ul>
              <li>今日</li>
              <li>週間</li>
              <li>月間</li>
            </ul>
          </div>
          <% @posts_rank.each do |post| %>
            <%= link_to("/posts/#{post.id}") do %>
              <div class="post-container">
                <%= image_tag post.user.image.to_s %>
                <div class="post-container2">
                  <h3><%= post.title %></h3>
                  <span>@<%= post.user.name %></span>
                  <div class="post-data">
                    <span class="fas fa-heart"><%= post.likes.count %></span>
                    <span class="">カテゴリー：<%= post.game.name %></span>
                    <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <h2><%= @game.name %>の新着記事</h2>
        <div class="container2">
          <div class="item-list">
          </div>
          <% @posts.each do |post| %>
            <%= link_to("/posts/#{post.id}") do %>
              <div class="post-container">
                <%= image_tag post.user.image.to_s %>
                <div class="post-container2">
                  <h3><%= post.title %></h3>
                  <span>@<%= post.user.name %></span>
                  <div class="post-data">
                    <span class="fas fa-heart"><%= post.likes.count %></span>
                    <span class="">カテゴリー：<%= post.game.name %></span>
                    <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= paginate @posts %>
      </div>
    </div>
    <div class="right-sidebar">
      <div class="sidebar-container">
        <h2><%= @game.name %>の人気配信</h2>
        <div class="sidebar-container2">
          <div class="item-list">
          </div>
          <% @twitch_streams.each do |stream| %>
            <% user = TwitchApi.get_user_with_cache(stream["user_id"]) %>
            <%= link_to("https://www.twitch.tv/#{user[0]["login"]}") do %>
              <div class="stream-container">
                <%= image_tag user[0]["profile_image_url"] %>
                <div class="stream-container2">
                  <h3><%= stream["title"].truncate(20) %></h3>
                  <div class="stream-data">
                    <span class="fas fa-user"><%= stream["viewer_count"] %></span>
                    <span class="left">@<%= stream["user_name"] %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
