<div class="main-container">
  <div class="post-new-container">
    <% @post.errors.full_messages.each do |message| %>
      <div class="error">
        <%= message %>
      </div>
    <% end %>
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <h3>タイトル</h3>
      <input type="text" name="title" class="title" value="<%= @post.title %>">
      <h3>カテゴリー</h3>
      <p><%= @post.game_id %></p>
      <h3>本文</h3>
      <textarea name="content"><%= @post.content %></textarea>
      <input type="submit" value="編集" class="submit-btn">
    <% end %>
  </div>
</div>
