<div class="main-container">
  <div class="container">
    <h2>新着記事</h2>
    <div class="container2">
      <div class="item-list">
        <ul>
          <li>総合</li>
        </ul>
      </div>
      <% @posts.each do |post| %>
        <%= link_to("/posts/#{post.id}") do %>
          <div class="post-container">
            <%= image_tag("/user_image/#{post.user.image_name}") %>
            <div class="post-container2">
              <h3><%= post.title %></h3>
              <span>@<%= post.user.name %></span>
              <div class="post-data">
                <span class="fas fa-heart"><%= post.likecount %></span>
                <span>カテゴリー：<%= post.game.name.gsub("_", " ") %></span>
                <span>投稿：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
