<div class="main-wrapper">
  <div class="post-show-container">
    <div class="user-data">
      <%= link_to("/users/#{@post.user.id}") do %>
        <%= image_tag @post.user.image.to_s %>
      <% end %>
      <span>執筆者：<%= link_to(@post.user.name, "/users/#{@post.user.id}") %></span>
      <span>カテゴリー：<%= link_to(@post.game.name, "/games/#{@post.game.name}") %></span>
    </div>
    <h3><%= @post.title %></h3>
    <p><%= markdown(@post.content) %></p>
    <span>作成日時：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
    <% if @post.created_at != @post.updated_at %>
      <span>更新日時：<%= @post.updated_at.strftime('%Y/%m/%d %H:%M') %></span>
    <% end %>
    <% if current_user %>
      <div class="post-show-menu">
        <ul class="left">
          <% if Like.find_by(post_id: @post.id, user_id: current_user.id) %>
            <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
              <li class="fas fa-heart like"><%= @post.likes.count %> いいねした！</li>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
              <li class="far fa-heart"><%= @post.likes.count %> いいねする！</li>
            <% end %>
          <% end %>
        </ul>
        <ul class="right">
          <% if current_user.id == @post.user_id %>
            <li><%= link_to "編集", edit_post_path(@post) %></li>
            <li><%= link_to "削除", @post, method: "delete", data: { confirm: "#{@post.title}を削除します。よろしいですか？" } %></li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="post-show-menu">
        <ul class="left">
          <%= link_to("/login") do %>
            <li class="far fa-heart"><%= @post.likes.count %> ※いいねをするにはログインが必要です</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
