<!DOCTYPE html>
<html>
  <head>
    <title>e-Streak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("e-Streak", "/") %>
      </div>
      <div class="header-menus">
        <ul>
          <% if @current_user %>
            <li>
              <%= link_to("Games", "/games") %>
            </li>
            <li>
              <%= link_to("人気記事", "") %>
            </li>
            <li>
              <%= link_to("新着記事", "/posts") %>
            </li>
            <li>
              <%= link_to("投稿する", "/posts/new") %>
            </li>
            <li>
              <%= link_to("About", "/about") %>
            </li>
            <%= link_to("/users/#{@current_user.id}") do %>
              <div class="header-userinfo">
                <%= image_tag @current_user.image.to_s %>
                <%= @current_user.name %>
              </div>
            <% end %>
          <% else %>
            <li>
              <%= link_to("Games", "/games") %>
            </li>
            <li>
              <%= link_to("人気記事", "") %>
            </li>
            <li>
              <%= link_to("新着記事", "/posts") %>
            </li>
            <li>
              <%= link_to("新規登録", "/signup") %>
            </li>
            <li>
              <%= link_to("About", "/about") %>
            </li>
            <%= link_to("/login") do %>
              <div class="header-btn">ログイン</div>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
