<!DOCTYPE html>
<html>
  <head>
    <title>e-Streak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <body>
    <header>
      <div class="header-logo">
        <%= link_to("/") do %>
          <%= image_tag("logo2.png", {size: "30x30"})  %>
          e-Streak
        <% end %>
      </div>
      <div class="header-menus">
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= link_to("Games", "/games") %>
            </li>
            <li>
              <%= link_to("人気記事", "/likes") %>
            </li>
            <li>
              <%= link_to("新着記事", "/posts") %>
            </li>
            <li>
              <%= link_to("投稿する", "/posts/new") %>
            </li>
            <li>
              <%= link_to("About", "/about") %>
            </li>
            <%= link_to("/users/#{current_user.id}") do %>
              <div class="header-userinfo">
                <%= image_tag current_user.image.to_s %>
                <%= current_user.name %>
              </div>
            <% end %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
            </li>
          <% else %>
            <li>
              <%= link_to("Games", "/games") %>
            </li>
            <li>
              <%= link_to("人気記事", "/likes") %>
            </li>
            <li>
              <%= link_to("新着記事", "/posts") %>
            </li>
            <li>
              <%= link_to("新規登録", new_user_registration_path) %>
            </li>
            <li>
              <%= link_to("About", "/about") %>
            </li>
            <%= link_to new_user_session_path do %>
              <div class="header-btn">ログイン</div>
            <% end %>
          <% end %>
        </ul>
      </div>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "flash #{key}") %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <span>Copyright © 2019 e-Streak All Rights Reserved.</span>
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
